h1 {
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    margin-top: 15px;
}

p {
    color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 15px;
    text-align: justify;
    line-height: 1.5;
    margin-top: 30px;
}

body {
    background-color: black;
}

.carousel-item img {
    width: 150%;
    height: 500px;
    object-fit: cover;
}

.content {
    margin: 25px;
    align-content: center;
}

div {
    align-content: center;
    margin-top: 50px;
}